<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="img/fav.jpg">
  <!-- Author Meta -->
  <meta name="author" content="codepixer">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>SKT-WORK THAT MATTERS!</title>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  <!--<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script>
    // object-fit polyfill run
objectFitImages();

/* init Jarallax */
jarallax(document.querySelectorAll('.jarallax'));

jarallax(document.querySelectorAll('.jarallax-keep-img'), {
  keepImg: true,
});
    </script>
  </head>
  <body>



    <!-- Start Header Area -->
     <header class="default-header">
      <nav class="navbar navbar-expand-lg  navbar-light">
        <div class="container">
           <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'img/shikhar-kant-tiwari.png' %}" alt="" height="50" width="100%">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="text-white lnr lnr-menu"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
              <ul class="navbar-nav">
              <li><a href="#home">Home</a></li>
              <li><a href="#portfolio">Portfiolio</a></li>
              <li><a href="#service">Services</a></li>
              <li><a href="#testimonial">Testimonial</a></li>
                <li><a href="#resume">Resume</a></li>
               <!-- Dropdown -->
                <!--<li class="dropdown">
                  <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Pages
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="generic.html">Generic</a>
                    <a class="dropdown-item" href="elements.html">Elements</a>
                  </div>
                </li>-->
              </ul>
            </div>
      </nav>
    </header>
    <!-- End Header Area -->
      <!-- start banner Area -->
      <section class="banner-area relative" id="home" >
        <div class="overlay2 overlay-bg view jarallax"></div>
        <div class="container">
          <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-10">
              <img src="{% static 'img/developer.png'%}" class="imgcircle img1">
                <img src="{% static 'img/camera.jfif'%}" class-"imgcircle img2">
              <h1 class="text-uppercase display-3 font-weight-bold mb-2 wow fadeInDown" color="white" style="font-family:Garamond;">SHIKHAR KANT TIWARI</h1>
              <h2>
                I help small businesses build a strong web presence through design and consulting services.
              </h2></br>
              <a href="#portfolio" class="primary-btn text-uppercase">Explore Now</a>
            </div>
          </div>
        </div>
      </section>
      <!-- End banner Area -->
          <!-- Start portfolio-area Area -->
      <section class="portfolio-area section-gap" id="portfolio">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-10">
              <div class="title text-center">
                <h1 class="mb-10">This is what I have done in past</h1>
              </div>
            </div>
          </div>

          <div class="filters">
            <ul>
              <li class="active" data-filter="*">All</li>
             <!-- <li data-filter=".corporate">Vector</li>
              <li data-filter=".personal">Raster</li>
              <li data-filter=".agency">UI/UX</li>
              <li data-filter=".portal">Printing</li>-->
            </ul>
          </div>

          <div class="filters-content">
            <div class="row grid">
              {% for job in jobs.all %}
            <div class="single-portfolio col-sm-4 all">
              <div class="item">
                <a href="{{job.url}}"><img src="{{ job.image.url }}" alt="Work 1"></a>
                <div class="p-inner">
                  <h4>{{ job.summary }}</h4>
                  <div class="cat">{{ job.desc }}</div>
                </div>
              </div>
            </div>
            {% endfor%}


            </div>
          </div>

        </div>
      </section>
      <!-- End portfolio-area Area -->


      <!-- Start service Area -->
      <section class="service-area section-gap relative" id="service">
        <div class="overlay overlay-bg"></div>
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
              <div class="title text-center">
                <h1 class="mb-10 text-white">These are the services I provide</h1>
                <p>The global presence of internet has made it essential for most bussinesses to take notice of the power of Internet technology and devise ways to leverage it to gain competitive advantage. Your website should have potential to generate traffic to grow your business.

I create websites that are fast, cost effective, responsive, usable and SEO friendly. I use best practices and latest W3C web standards.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End service Area -->

      <!-- Start services Area -->
      <section class="services-area pb-100" >
        <div class="container">
          <div class="row">
            {% for service in services.all %}
            <div class="col-lg-4">
              <div class="single-service">
                <img class="img-fluid" src="{% static 'service.image'%}" alt="">
                <h4>{{service.title}}</h4>
                <p>
                {{service.body}}
              </p>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
      </section>
      <!-- End services Area -->

      <!-- Start review Area -->
      <section class="review-area section-gap" id="testimonial">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
              <div class="title text-center">
                <h1 class="mb-10">Testimonials</h1>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="single-review">
                <!--<img src="img/c1.png" alt="">-->
                <div class="title d-flex flex-row">
                  <a href="#"><h4>Chirag Oswal</h4></a>
                  <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                  </div>
                </div>
                <p>
                  Shikhar is a hardworking and dedicated employee with a good knowledge in HTML,CSS and was a great asset to the company.
                </p>
              </div>
              <div class="single-review">
              <!--	<img src="img/c3.png" alt="">-->
                <div class="title d-flex flex-row">
                  <a href="#"><h4>Amol Kadam</h4></a>
                  <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
                <p>
                  Shikhar helped me with my project and was versatile with every technology and developed a great website for me.
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="single-review">
                <!--<img src="img/c2.png" alt="">-->
                <div class="title d-flex flex-row">
                  <a href="#"><h4>Ayush</h4></a>
                  <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-starchecked"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
                <p>
                  I think you're the most genuine person I've met in my life. The way you've there for the project every time I needed , you did justice to every task.The way you've evolved in these four years is absolutely amazing. I wish you good luck for the future.
                </p>
              </div>
              <div class="single-review">
                <!--<img src="img/c4.png" alt="">-->
                <div class="title d-flex flex-row">
                  <a href="#"><h4>Shubham Handa</h4></a>
                  <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
                <p>
                  Great man to work with, really attentive and react to request immediately. Excellent work and I'm really pleased with the results. Thanks Shikhar.
                </p>
              </div>
            </div>
          </div>
      </section>
      <!-- End review Area -->
      <!-- Start Resume-->
        <section class="services-area pb-100" id="resume" >
        <div class="container"><div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
              <div class="title text-center">
                <h1 class="mb-10">Resume</h1>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4" style="display: block; margin: 0 auto;" >
              <a href="SHIKHAR KANT TIWARI.pdf" class="genric-btn success radius"  style="display: block; margin: 0 auto;" download >Download Resume</a>

              </div>
          </div>
        </div>
      </section>
<!--End Resume-->
      <!-- start footer Area -->
      <footer class="footer-area section-gap">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
              <div class="single-footer-widget">
                <h6>Contact Me:</h6>
                <p>
                  <span class="glyphicon glyphicon-phone"></span><a>+917875520227</a>
                  <br><span class="glyphicon glyphicon-envelope"></span><a>shikharpkt@gmail.com</a>
                </p>
                <p class="footer-text">

Copyright &copy;<script>document.write(new Date().getFullYear());</script> <i class="fa fa-heart-o" aria-hidden="true"></i>  <a href="http://shikhartiwari.000webhostapp.com/">SKT</a>
              </p>
              </div>
            </div>
              <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
              <div class="single-footer-widget">
                <h6>SERVICES:</h6>
                <div class="footer-social d-flex align-items-center">
                <ol>
                    <li>Web Development</li>
                    <li>Graphic Designing</li>
                    <li>Software Development</li>
                    <li>Digital Marketing</li>
                </ol></div>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
              <div class="single-footer-widget">
                <h6>Follow Us</h6>
                <p>Let us be social</p>
                <div class="footer-social d-flex align-items-center">
                  <a href="https://www.facebook.com/shikhar.kanttiwari"><i class="fa fa-facebook"></i></a>
                  <a href="https://twitter.com/shikhar_kant"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.linkedin.com/in/shikhar-tiwari-494719b8/"><i class="fa fa-linkedin"></i></a>
                <!--	<a href="#"><i class="fa fa-behance"></i></a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- End footer Area -->
    </div>
    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/easing.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.jss' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"""></script>
  </body>
</html>
